@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* 
///////////////////////////////////
/////////  global class //////////
/////////////////////////////////
*/
.card_primary {
  background: #6993ff;
}

.card_secondary {
  background: #ffc107;
}

.card_danger {
  background: #dc3545;
}

.button_primary {
  color: white;
  background-color: #6924fe;
  border-radius: 56px;
  padding: 8px 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.cp {
  cursor: pointer;
}

/* Loader */
.spanner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  height: 300px;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  visibility: hidden;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 999;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #fff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

.show {
  visibility: visible;
}

.spanner,
.overlay {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.spanner.show,
.overlay.show {
  opacity: 1;
}

.progress_bar_container {
  width: 100%;
  border-radius: 15px;
  border: 1px solid black;
  padding: 3px;
  font-size: 12px;
  overflow: hidden;
}

.progress_bar_container div {
  background-color: #0000009f;
  border-radius: 15px 0 0 15px;
  text-align: center;
  font-weight: bold;
}

/* /////////////////////////
  /////////  Landing Page //////////
  ////////////////////////////
  */
.landing-page {
  background: #0c1a32;
}

.landing-hero {
  position: relative;
  height: 100vh;
}

.landing-hero .landing_top_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px 15px 75px;
}

.landing_top_two {
  background-color: #1b2a45;
  height: 40px;
}

.landing_top_two a {
  float: right;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 700;
}

.landing_top_two .dropdown_nav {
  float: right;
  overflow: hidden;
}

.landing_top_two .dropdown_nav .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: white;
  padding: 8px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: 700;
}

.landing_top_two .dropdown_nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #193866;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.landing_top_two .dropdown_nav .dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.landing_top_two .dropdown_nav .dropdown-content a:hover {
  background-color: #1b2a45;
}

.landing_top_two .dropdown_nav:hover .dropdown-content {
  display: block;
}

.landing_top_three {
  height: calc(100vh - 110px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.landing_top_three h1 {
  font-size: 60px;
  font-weight: 800;
}

.landing_top_three h1 span {
  background: linear-gradient(88.17deg, #aa42fc 28.24%, #2704ff 42.65%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.landing_top_three h1 span:nth-child(2) {
  background: radial-gradient(37.24% 2061.22% at 69.68% 73.47%, #330aff 12.82%, #aa42fc 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.landing_top_three p {
  margin-top: 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 10px;
  color: #d2c7c7;
}

.landing_top_three #landing-top-right {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  height: 60vh;
}

.landing_top_three #landing-left-one {
  position: absolute;
  z-index: -1;
  left: 3vw;
  top: 0;
  height: 40vh;
}

.landing_top_three #landing-left-two {
  position: absolute;
  z-index: -1;
  left: 8vw;
  top: 0;
  height: 25vh;
}

.services {
  background: #1b2a45;
  padding: 80px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .service_card {
  background-color: transparent;
  margin: 20px 30px;
  height: 312px;
  width: 242px;
}

.services .service_card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.services .service_card .flip-card-inner .flip-card-front {
  background-image: url(../images/service_card_fame.png);
  border: 2px solid #ffffff;
  border-radius: 28px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.services .service_card .flip-card-inner .flip-card-front p {
  font-weight: 600;
  font-size: 30px;
}

.services .service_card .flip-card-inner .flip-card-front img {
  background: white;
  border-radius: 50%;
}

.services .service_card .flip-card-inner .flip-card-back {
  background-image: url(../images/service_card_fame.png);
  border: 2px solid #ffffff;
  border-radius: 28px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 30px;
}

.services .service_card .flip-card-inner .flip-card-back button {
  border-radius: 10px;
  border-color: white;
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
}

.services .service_card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.user_dashboard_card {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 350px;
}

.user_dashboard_card p {
  position: absolute;
  right: 0;
  top: 20px;
  background-color: white;
  border-radius: 8px 0 0 8px;
  color: black;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 8px;
}

.user_dashboard_card button {
  position: absolute;
  bottom: 20px;
  padding: 5px 20px;
  border-radius: 8px;
  width: 90%;
  border: none;
  background: #0000009f;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.user_dashboard_card span {
  position: absolute;
  right: 20px;
  top: 15px;
  color: white;
  font-size: 20px;
  -webkit-box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  height: 20px;
  padding: 0 3px;
  text-align: center;
  display: none;
}

.user_dashboard_card:hover span {
  display: block;
}

/* //////////////////////////////////////////////////  */
/*  ////////////////// Profile        //////////////////  */
/* ////////////////////////////////////////////////  */
.profile_Pic {
  position: relative;
}

.profile_Pic label {
  position: absolute;
  bottom: -10px;
  right: -5px;
  background: var(--default-bg-1);
  border-radius: 50%;
  padding: 3px 5px;
}

.profile_Pic .profile_img {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid white;
  margin-top: 30px;
}

#profile_image_input_field {
  display: none;
}

.add_new_form_box {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 350px;
  border: 2px dotted gray;
  color: gray;
}
/*# sourceMappingURL=style.css.map */