@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$default-bg-1: #0c1a32;
$default-bg-2: #1b2a45;
$default-bg-3: #193866;
$default-bg-4: #6924fe;
$default-text-1: #0e687a;
$default-text-2: white;
$default-border-1: #009688;

$primary: #6993ff;
$secondary: #ffc107;
$danger: #dc3545;
/* 
///////////////////////////////////
/////////  global class //////////
/////////////////////////////////
*/
.card_primary {
  background: $primary;
}
.card_secondary {
  background: $secondary;
}
.card_danger {
  background: $danger;
}
.button_primary {
  color: white;
  background-color: $default-bg-4;
  border-radius: 56px;
  padding: 8px 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.cp {
  cursor: pointer;
}
/* Loader */
.spanner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  height: 300px;
  color: #fff;
  transform: translateY(-50%);
  z-index: 1000;
  visibility: hidden;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 999;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #fff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.show {
  visibility: visible;
}

.spanner,
.overlay {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.spanner.show,
.overlay.show {
  opacity: 1;
}
// progress bar //
.progress_bar_container {
  width: 100%;
  border-radius: 15px;
  border: 1px solid black;
  padding: 3px;
  font-size: 12px;
  overflow: hidden;
  div {
    background-color: #0000009f;
    border-radius: 15px 0 0 15px;
    text-align: center;
    font-weight: bold;
  }
}
/* /////////////////////////
  /////////  Landing Page //////////
  ////////////////////////////
  */
.landing-page {
  background: $default-bg-1;
}
.landing-hero {
  position: relative;
  height: 100vh;
}
.landing-hero .landing_top_one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 75px;
}
.landing_top_two {
  background-color: $default-bg-2;
  height: 40px;

  a {
    float: right;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 700;
  }
  .dropdown_nav {
    float: right;
    overflow: hidden;
    .dropbtn {
      font-size: 14px;
      border: none;
      outline: none;
      color: white;
      padding: 8px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      font-weight: 700;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $default-bg-3;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        &:hover {
          background-color: $default-bg-2;
        }
      }
    }
    &:hover .dropdown-content {
      display: block;
    }
  }
}
.landing_top_three {
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  h1 {
    font-size: 60px;
    font-weight: 800;
    span {
      background: linear-gradient(88.17deg, #aa42fc 28.24%, #2704ff 42.65%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      &:nth-child(2) {
        background: radial-gradient(
          37.24% 2061.22% at 69.68% 73.47%,
          #330aff 12.82%,
          #aa42fc 100%
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
  }
  p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 19px;
    line-height: 10px;
    color: #d2c7c7;
  }
  #landing-top-right {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    height: 60vh;
  }
  #landing-left-one {
    position: absolute;
    z-index: -1;
    left: 3vw;
    top: 0;
    height: 40vh;
  }
  #landing-left-two {
    position: absolute;
    z-index: -1;
    left: 8vw;
    top: 0;
    height: 25vh;
  }
}
.services {
  background: $default-bg-2;
  padding: 80px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .service_card {
    background-color: transparent;
    margin: 20px 30px;
    height: 312px;
    width: 242px;
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      .flip-card-front {
        background-image: url(../images/service_card_fame.png);
        border: 2px solid #ffffff;
        border-radius: 28px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        p {
          font-weight: 600;
          font-size: 30px;
        }
        img {
          background: white;
          border-radius: 50%;
        }
      }
      .flip-card-back {
        background-image: url(../images/service_card_fame.png);
        border: 2px solid #ffffff;
        border-radius: 28px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        padding: 30px;
        button {
          border-radius: 10px;
          border-color: white;
          position: absolute;
          bottom: 20px;
          left: 30px;
          right: 30px;
        }
      }
    }
    &:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
  }
}

.ready_section {
}
/////////////////////////////////
////////// User dashboard ////////
/// ///////////////////////////////
.user_dashboard_card {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 350px;
  p {
    position: absolute;
    right: 0;
    top: 20px;
    background-color: white;
    border-radius: 8px 0 0 8px;
    color: black;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 8px;
  }
  button {
    position: absolute;
    bottom: 20px;
    padding: 5px 20px;
    border-radius: 8px;
    width: 90%;
    border: none;
    background: #0000009f;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
}
/* //////////////////////////////////////////////////  */
/*  ////////////////// Profile        //////////////////  */
/* ////////////////////////////////////////////////  */
.profile_Pic {
  position: relative;
  label {
    position: absolute;
    bottom: -10px;
    right: -5px;
    background: var(--default-bg-1);
    border-radius: 50%;
    padding: 3px 5px;
  }
  .profile_img {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    z-index: 1;
    border: 2px solid white;
    margin-top: 30px;
  }
}
#profile_image_input_field {
  display: none;
}
